*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: serif;
}
body {
  background-color: #5e320d;
  }

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255);
  padding: 16px 0;
  text-align: center;
   width: 100%;
   backdrop-filter: blur(0);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
a {
  text-decoration: none;
  margin: 0 14px;
  padding: 10px 24px;
  border-radius: 30px;
  font-weight: bold;
  transition: all .35 ease;
}

a:link {
  color: white;
}

a:visited {
  color: black;
}

a:hover {
  background-color:  #492201;
  border-radius: 10px;
  color: white;
}

a:active {
  color: red;
}

img {
    display: block;
   border-radius: 50%;
  float: left;
}

h1 {
  color: black;
  text-align: center;
}

div {
 height: 100px;
  width: 300px;
  background-color: white;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;

}

  
