*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: serif;
}
body {
  background-color: #5e320d;
    line-height:1.9;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  }

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255);
  padding: 16px 0;
  text-align: center;
   width: 1400px;
  height: 100px;
   backdrop-filter: blur(0);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
a {
  text-decoration: none;
  margin: 0 14px;
  padding: 10px 24px;
  border-radius: 30px;
  font-weight: bold;
  transition: all .35 ease;
  float: right;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  background-color:  #492201;
  border-radius: 10px;
  color: white;
}

a:active {
  color: red;
}

h1, p {
  color: white;
  text-align: left;
}

div {
  background-color: white;
  margin: 0;
  width: 1100px;
  height: 350;
  border: 3px solid black;
  box-shadow: 10px 10px 5px #00001A;
  padding: 10px;
}

img {
  display: block;
float: left;
   border-radius: 50%;
}

h2, h3 {
  color: white;
}
  
